#parent {
    padding: 10px;
    background-color: rgb(108, 124, 138);
}

#child {
    background-color: rgb(254, 240, 255);
}

body{
    background-color: aqua;
}

#reset {
    border-radius: 12px;
    background-color: green;
    color: aliceblue;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}